@import './font.css';

*,
*::before,
*::after ,.ant-input,.ant-typography>*{
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
  font-family:
    TorusSemiBold,
    Puhui,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  min-height: 100vh;
  transition:
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}